---
import type { ProjectData } from '@/types'
import TextRender from './TextRender.astro'

interface Props {
  project: ProjectData
}
const { project } = Astro.props
---

<li
  class="mt-10 cursor-pointer project-card rounded-lg overflow-hidden max-w-[300px] border border-neutral-400 dark:border-neutral-700 shadow-lg shadow-gray-400/10 bg-gray-400 dark:bg-gray-800/80"
  data-path={`/projects/${project.id}`}
>
  <img 
    src={`/api/project/screenshots/${project.id}/dark.webp`} 
    alt={`Screenshot del proyecto ${project.id}`}
  >
  <section class="p-3">
    <TextRender
      tagName='h3'
      className="mb-2 text-xl font-semibold text-slate-600 dark:text-slate-400"
      textData={project.title}
    />
    <TextRender
      className="limit paragraph mb-4 text-pretty"
      textData={project.description}
    />
  </section>
</li>

<script>
  document.querySelectorAll('.project-card').forEach(ar => {
    ar.addEventListener('click', ev => {
      if (ev.currentTarget instanceof HTMLElement){
        const path = ev.currentTarget.dataset.path
        if (path !== undefined) {
          location.assign(path)
        }
      }
    })
  })
</script>
