---
import type { TextData } from '@/types'

interface Props {
  textData: TextData['text']
  tagName?: 'p' | 'h1' | 'h2' | 'h3' | 'h4'
  className?: string
}

const { textData, tagName = 'p', className = '' } = Astro.props

let html = ''
const controllers = {
  bold: {
    open: false,
    tag: 'strong'
  },
  italic: {
    open: false,
    tag: 'em'
  }, 
  strikethrough: {
    open: false,
    tag: 's'
  },
  underline: {
    open: false,
    tag: 'u'
  },
  color: {
    open: false,
    tag: 'span'
  },
  link: {
    open: false,
    tag: 'a'
  }
}

for (const message of textData) {
  if (message.link !== null && !controllers.link.open) {
    html += `<a href="${message.link}" class='underline hover:no-underline text-blue-500 dark:text-blue-300'>`
    controllers.link.open = true
  } else if (controllers.link.open) {
    html += '</a>'
    controllers.link.open = false
  }

  for (const [key, value] of Object.entries(message.annotations)) {
    if (key === 'code') continue
    const controller = controllers[key as keyof typeof controllers]
    
    if (typeof value === 'string') {
      if (value !== 'default') {
        if (!controller.open) {
          html += `<${controller.tag} class="text-${value}">`
          controller.open = true
        }
      } else if (controller.open) {
        html += `</${controller.tag}>`
        controller.open = false
      }
    } else {
      if (value) {
        if (!controller.open) {
          html += `<${controller.tag}>`
          controller.open = true
        }
      } else if (controller.open) {
        html += `</${controller.tag}>`
        controller.open = false
      }
    }
  }

  html += message.content
}

for (const [_, value] of Object.entries(controllers)) {
  if (value.open) {
    html += `</${value.tag}>`
    value.open = false
  }
}
---

<Fragment {...Astro.props} set:html={`<${tagName} class="whitespace-pre-wrap text-balance ${className}" >${html}</${tagName}>`} />

<style is:global>
  .text-red {
    color: #dc2626;
  }
  .text-gray {
    color: #4b5563;
  }
  .text-brown {
    color: #92400e;
  }
  .text-orange {
    color: #ea580c;
  }
  .text-yellow {
    color: #ca8a04;
  }
  .text-green {
    color: #16a34a;
  }
  .text-blue {
    color: #2563eb;
  }
  .text-purple {
    color: #9333ea;
  }
  .text-pink {
    color: #db2777;
  }

  @media (prefers-color-scheme: dark) {
    .text-red {
      color: #fca5a5;
    }
    .text-gray {
      color: #d1d5db;
    }
    .text-brown {
      color: #ca8a04;
    }
    .text-orange {
      color: #fdba74;
    }
    .text-yellow {
      color: #fde047;
    }
    .text-green {
      color: #86efac;
    }
    .text-blue {
      color: #93c5fd;
    }
    .text-purple {
      color: #d8b4fe;
    }
    .text-pink {
      color: #f9a8d4;
    }
  }
</style>
